@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --main:#6FCF97;
  --secondary: #2FA084;
  --accent:#1F6F5F;

  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

